<a href="https://colab.research.google.com/github/sagarkumarmishra/Data-Analysis-using-Python/blob/main/Sports_Authority_of_India_(_Data_Cleaning).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import numpy as np
import pandas as pd

In [53]:
data = pd.read_excel('/content/SPORTS INFRASTRUCTURE UNDER GIS SYSTEM. (1).xlsx','Sheet2',skiprows=1)
df= pd.read_excel('/content/district.xlsx')

In [54]:
k = data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 12 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Sl. No.                                                                                         171 non-null    float64
 1   Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)  171 non-null    object
 2   Size/ details of Infrastructure                                                                 168 non-null    object
 3   Unnamed: 3                                                                                      156 non-null    object
 4   Unnamed: 4                                                                                      138 non-null    object
 5   Unnamed: 5                                                                                      167 non-null    object
 6   Owned by Institution (State Govt./ SAI/Private)                                                 171 non-null    object
 7   Built under Scheme                                                                              171 non-null    object
 8   Location of the Infrastructure (Tehsil/ Taluk and District)                                     171 non-null    object
 9   Unnamed: 9                                                                                      0 non-null      float64
 10  Unnamed: 10                                                                                     0 non-null      float64
 11  Unnamed: 11                                                                                     34 non-null     float64
dtypes: float64(4), object(8)
memory usage: 16.2+ KB

In [55]:
smr = ['Built under Scheme','Sl. No.','Unnamed: 3','Unnamed: 4','Owned by Institution (State Govt./ SAI/Private)','Unnamed: 5','Unnamed: 10','Unnamed: 11','Size/ details of Infrastructure','Unnamed: 9']

In [56]:
sat = data.drop(smr,inplace =True,axis =1)

In [57]:
data.rename(columns={'Infrastructure available (Stadium, Hall, Swimming Pools and other such facilities Sports-wise)' : 'Name'}, inplace=True)

In [58]:
data.rename(columns={"Location of the Infrastructure (Tehsil/ Taluk and District)":"Address_line_1"}, inplace = True)

In [59]:
data.insert(loc=2, column= 'district_id',  value='0',  allow_duplicates=True)

In [60]:
data.insert(loc=3, column= 'manager_contact_no',  value='01123384782',  allow_duplicates=True)
data.insert(loc=4, column= 'state_id',  value='15',  allow_duplicates=True)
data.insert(loc=5, column= 'sub_ownership_id',  value='Karnataka',  allow_duplicates=True)
data.insert(loc=6, column= 'name_of_manager',  value='Shri Anurag Singh Thakur',  allow_duplicates=True)

In [61]:
data.head()

,Name,Address_line_1,district_id,manager_contact_no,state_id,sub_ownership_id,name_of_manager
0,NaN,NaN,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur
1,Sri Kanteerava Stadium,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur
2,Koramangala Indoor Stadium,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur
3,Vidyanagara,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur
4,Anekal,Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur

In [62]:
Pincode = pd.read_excel('/content/pin_code.xlsx')

In [63]:
create =['id','district_id']

In [64]:
new = Pincode.drop(create, axis =1, inplace =True)

In [65]:
Pincode.head()

   pincode
0   744201
1   744202
2   744302
3   744303
4   744105

In [66]:
data =pd.concat([data, Pincode], axis=1)

In [74]:
data.head(20)

,Name,Address_line_1,district_id,manager_contact_no,state_id,sub_ownership_id,name_of_manager,pincode
0,NaN,NaN,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744201
1,Sri Kanteerava Stadium,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744202
2,Koramangala Indoor Stadium,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744302
3,Vidyanagara,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744303
4,Anekal,Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744105
5,Honnigaanahatti (South),Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744102
6,Devarajeevanahallii (North),Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744104
7,Yalahanka Taluk Ravutanahallia,Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744107
8,Kumbalgodu,Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744211
9,J.P. Nagar,Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744207
10,Devanahalli,"Devenahalli Taluk,",0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744103
11,Doddaballapura,Doddaballapura Taluk.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744206
12,Hosakote (Sri Channabairegowda Stadium),Hoskote Taluk,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744301
13,Nelmangala,Banglaore Rural,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744304
14,Bagalakot District Stadium,Bagalakote District,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744204
15,Bilagi,Bagalakote Distrctrict.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744210
16,Hunugunda,Bagalakote Distrctrict.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744205
17,Jamakandi,Bagalakote Distrctrict.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744209
18,Mudhola,Bagalakote Distrctrict.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744101
19,Ballari District Stadium,Ballari District,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744203

In [68]:
n = df.iloc[262:291]

In [69]:
n.drop('state_id',axis =1, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [75]:

['Dakshina', 'Kannada', 'Hassan', 'Davangere','Kalaburagi','Kodagu','Chikkamagaluru','Chitradurga','Mysuru','Belagavi','Chamarajanagara','Ramanagara','Bengaluru Urban',
'Bengaluru Rural','Gadag','Ballari','Dharwad','Bagalkote','Yadgir','Shivamogga','Vijayapura','Koppal','Udupi','Mandya','Uttara Kannada','Kolar','Tumakuru','Raichur','Haveri','Chikkaballapura' ]

['Dakshina',
 'Kannada',
 'Hassan',
 'Davangere',
 'Kalaburagi',
 'Kodagu',
 'Chikkamagaluru',
 'Chitradurga',
 'Mysuru',
 'Belagavi',
 'Chamarajanagara',
 'Ramanagara',
 'Bengaluru Urban',
 'Bengaluru Rural',
 'Gadag',
 'Ballari',
 'Dharwad',
 'Bagalkote',
 'Yadgir',
 'Shivamogga',
 'Vijayapura',
 'Koppal',
 'Udupi',
 'Mandya',
 'Uttara Kannada',
 'Kolar',
 'Tumakuru',
 'Raichur',
 'Haveri',
 'Chikkaballapura']

In [71]:
k = pd.concat([data,df.iloc[262:291]],axis =1)

In [72]:
k.head()

,Name,Address_line_1,district_id,manager_contact_no,state_id,sub_ownership_id,name_of_manager,pincode,id,state_id,district_name
0,NaN,NaN,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744201,NaN,NaN,NaN
1,Sri Kanteerava Stadium,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744202,NaN,NaN,NaN
2,Koramangala Indoor Stadium,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744302,NaN,NaN,NaN
3,Vidyanagara,Bangalore,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744303,NaN,NaN,NaN
4,Anekal,Bangalore Urban District.,0,01123384782,15,Karnataka,Shri Anurag Singh Thakur,744105,NaN,NaN,NaN